<div class="row">
  <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
    <h1><%= "'#{@chatroom.topic}' channel"%></h1>

    <div class="panel panel-default">
      <% if @chatroom.messages.any? %>
        <div class="panel-body" id="messages">
          <%= render partial: 'messages/message', collection: @chatroom.messages %>
        </div>
      <% else %>
        <div class="panel-body hidden" id="messages">
        </div>
      <% end %>
    </div>
    <div>
      <p>User signed in as: <%= current_user.username %></p>
    </div>
    <%= render partial: 'messages/message_form', locals: {message: @message, chatroom: @chatroom}%>
  </div>
</div>

<% if current_user.present? %>
  <script>
    App.userName = '<%= current_user.username %>';
  </script>
<% end %>